.cardContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    // padding: 10px
      ;
    .card{
      display: flex;
      flex-direction: column;
      position: relative;
      height: 500px;
      width: 1000px;
      border-radius: 25px;
      padding:50px;
      @media (max-width:550px) {
        padding: 25px;
      }
      transform-origin: top;
      h2{
        text-align: center;
        margin: 0px;
        font-size: 28px;
      }
      .body{
        display: flex;
        height: 100%;
        @media (max-width:768px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 0;
            margin-top: 20px;
        }
        margin-top: 50px;
        gap: 50px;
  
        .description{

          width: 40%;
          @media (max-width:768px) {
            width: 100%;
          }
          position: relative;
          top: 5%;
          p{
            font-size: 16px;
            margin-bottom: 10px;
            text-transform: none;
            &::first-letter{
              font-size: 28px;
              font-family: 'Title';
            }
          }
        }
  
        .imageContainer{
          position: relative;
          width: 70%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          .inner{
            width: 100%;
            height: 100%;
            position: relative;
          }
          img{
            object-fit: cover;
            background-position: center;
            background-size: cover;
          }
        }
      }
    }
}